<% @restaurants.each do |restaurant| %>
<ul>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  <li><%= restaurant.address %></li>
  <li><%= restaurant.category %></li>
</ul>
<% end %>

<%= link_to "add a new restaurant", new_restaurant_path %>
